:root {
    --color-primary: #393665;
    --color-accent: #CF96FD;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.business {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.25rem;
    color: var(--color-accent);
}

.business img {
    height: 2rem;
}

.navbar {
    display: flex;
    padding: 0.75rem 1rem;
}

.sep {
    flex: 1;
}



/* -------------------- Buttons --------------------  */

.button-1 {
    border: none;
    display: flex;
    padding: 0.75rem 1rem;
    background-color: var(--color-accent);
    color: var(--color-primary);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.5rem;
    box-shadow:
        0 4px 6px -1px #488aec31,
        0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}

.button-1:hover {
    box-shadow:
        0 10px 15px -3px #488aec4f,
        0 4px 6px -2px #488aec17;
}

.button-1:focus,
.button-1:active {
    opacity: 0.85;
    box-shadow: none;
}

.button-1 svg {
    width: 1.25rem;
    height: 1.25rem;
}


/* -------------------- Buttons --------------------  */


@media screen and (max-width: 650px) {
    .business h1 {
        display: none;
    }
}